 p{
 font-family:Engravers MT;
 text-indent:50px;
 }
 h2{
 font-family:Engravers MT;
 }
 .footer{
background-color:#4C4C4C;
height:150px;
width:100%;
overflow:hidden;
font-size:15px;

 }
 #myFooter{
 margin:5px;
color:white;
font-family:Engravers MT;

}
.subFooter{
margin:10px;
float:left;
height:100%;
width:150px;
}
ul{
list-style-type:none;
}
.footerlogo{
position:relative;
float:right;
right:100px;
top:-100px;
overflow:hidden;
}